<footer>
    <div class="lineOne">
        <div class="globe">
            <i class="fa-solid fa-globe"></i>
            <p style="display: inline; margin-right: 15px;">English(IN)</p>
        </div>
        <div class="ruppe">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <p style="display: inline; margin-right: 15px;">INR</p>
        </div>
        <div class="social-media-icons">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
    <div class="brand">
        &copy; 2024 Airbnb Inc
    </div>
    <div class="privacy-terms">
        <p>privacy</p>
        <p>.</p>
        <p>terms</p>
        <p>.</p>
        <p>sitemaps</p>
        <p>.</p>
        <p>company</p>
        <p>.</p>
        <p>details</p>
    </div>
</footer>