<% layout("/layouts/boilerplate.ejs") %>
    <body>
        <div class="container">
            <form action="/login" method="post" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-8 offset-2">
                        <h3>Airbnb user login</h3>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username:</label>
                            <input type="text" placeholder="username" name="username" id="username" class="form-control"
                                required>
                            <div class="invalid-feedback">Please enter the username</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password:</label>
                            <input type="password" placeholder="password" name="password" id="password"
                                class="form-control" required>
                            <div class="invalid-feedback">Please enter the password</div>
                        </div>
                        <div class="mb-3">
                            <button class="btn submit-button" style="margin-right: 10px;">submit</button>
                            <a href="/signup" class="submit-tag">new user?</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script src="/js/script.js"></script>
    </body>